<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IslandHouse | Dashboard</title>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="icon" href="img/favicon.png" />
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <div class="dashboard">
            <div class="dashboard__sidebar">
                <img src="img/icon_sample.svg">
                <div class="dashboard__sidebar-item active"><i class="icon uil uil-desktop-cloud-alt"></i></div>
                <div class="dashboard__sidebar-item"><i class="icon uil uil-lightbulb-alt"></i></div>
                <div class="dashboard__sidebar-item"><i class="icon uil uil-file-download-alt"></i></div>
                <div class="space-h"></div>
                <div class="dashboard__sidebar-item"><i class="icon uil uil-setting"></i></div>
                <div class="dashboard__sidebar-item"><i class="icon uil uil-user-times"></i></div>
            </div>
            <div class="dashboard__content">
                <div class="dashboard__content-header">
                    <h1 class="dashboard__content-header__title">Dashboard</h1>
                    <div class="space-w"></div>
                    <div class="dashboard__content-header__item"><i class="icon uil uil-bell"></i></div>
                </div>
                <div class="dashboard__content-main"></div>
            </div>
        </div>
    </body>
</html>