<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IslandHouse | Strony | Sklepy | Aplikacje</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <header class="header">
      <a href="#"
        ><img class="header__logo" src="img/logo.svg" alt="Logo IslandHouse"
      /></a>
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="#onas" class="nav__link">O nas</a></li>
          <li><a href="#portfolio" class="nav__link">Portfolio</a></li>
          <li><a href="#kontakt" class="nav__link">Kontakt</a></li>
          <li><a href="/dashboard" class="nav__link">Zaloguj się</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="section-hero">
        <h1 class="heading-primary">
          <span class="heading-primary__span">Stwórzmy razem</span
          ><span class="heading-primary__span">Twoją stronę</span>
        </h1>
        <p class="hero-description">&#8212; Nowoczesny design &#8212;</p>
        <a href="#kontakt" class="btn-cta">Stwórzmy stronę</a>
        <div class="bubble bubble__left">
          <img src="img/bubble.svg" alt="Bubble image" />
          <img src="img/bubble.svg" alt="Bubble image" />
          <img src="img/bubble.svg" alt="Bubble image" />
        </div>
        <div class="bubble bubble__right">
          <img src="img/bubble.svg" alt="Bubble image" />
          <img src="img/bubble.svg" alt="Bubble image" />
          <img src="img/bubble.svg" alt="Bubble image" />
        </div>
      </section>
      <section class="section-featured">
        <div class="featured">
          <img
            src="img/featured-1.svg"
            alt="Logo TORUN Technologies"
            class="featured__img"
          />
          <img
            src="img/featured-2.svg"
            alt="Logo ExileRP"
            class="featured__img"
          />
          <img
            src="img/featured-3.svg"
            alt="Logo Cuprum"
            class="featured__img"
          />
        </div>
      </section>
      <section class="section-onas" id="onas">
        <div class="container">
          <h2 class="heading-secondary">O nas</h2>
          <div class="onas">
            <div class="onas__left">
              <p class="onas__text">Słuchamy</p>
              <p class="onas__text">Tworzymy</p>
              <p class="onas__text">Planujemy</p>
              <p class="onas__text">Inspirujemy</p>
              <p class="onas__text onas__text--big">Realizujemy</p>
            </div>
            <div class="onas__right">
              <img
                src="img/nurek.svg"
                alt="Nurek programista IslandHouse"
                class="onas__img"
              />
            </div>
          </div>
          <div class="offer">
            <div class="offer__box">
              <div class="offer__shell">&nbsp;</div>
              <div class="offer__header">
                <img
                  class="offer__img"
                  src="img/box-1-light.png"
                  alt="Zdjęcie strony internetowe"
                />
              </div>
              <div class="offer__content">
                <p class="offer__text">
                  Strony<span class="offer__span">internetowe</span>
                </p>
              </div>
            </div>
            <div class="offer__box offer__box--active">
              <div class="offer__shell">&nbsp;</div>
              <div class="offer__header">
                <img
                  class="offer__img"
                  src="img/box-2-light.png"
                  alt="Zdjęcie strony e-commerce"
                />
              </div>
              <div class="offer__content">
                <p class="offer__text">
                  Sklepy<span class="offer__span">e-commerce</span>
                </p>
              </div>
            </div>
            <div class="offer__box">
              <div class="offer__shell">&nbsp;</div>
              <div class="offer__header">
                <img
                  class="offer__img"
                  src="img/box-3-light.png"
                  alt="Zdjęcie aplikacje"
                />
              </div>
              <div class="offer__content">
                <p class="offer__text">
                  Aplikacje<span class="offer__span">i serwery</span>
                </p>
              </div>
            </div>
          </div>
          <div class="patternz">
            <div class="patternz__content">
              <h4 class="heading-quaternary">Nasz design</h4>
              <div class="patternz__block">&nbsp;</div>
              <p class="patternz__text">
                Attractive design of your page is the best way to get more
                clients. Minimalism is what we prefer the most
              </p>
            </div>
            <div class="patternz__graphic">
              <img
                src="img/monitor-1.svg"
                alt="IslandHouse monitor design"
                class="patternz__img"
              />
            </div>
            <div class="patternz__graphic">
              <img
                src="img/monitor-2.svg"
                alt="IslandHouse monitor kod"
                class="patternz__img"
              />
            </div>
            <div class="patternz__content">
              <h4 class="heading-quaternary">Nasz kod</h4>
              <div class="patternz__block">&nbsp;</div>
              <p class="patternz__text">
                Code is what makes your website work. IslandHouse's programming
                structure makes your website fast
              </p>
            </div>

            <div class="patternz__content">
              <h4 class="heading-quaternary">Twój biznes</h4>
              <div class="patternz__block">&nbsp;</div>
              <p class="patternz__text">
                The internet plays a big role in marketing. We help reach full
                potential of your company
              </p>
            </div>
            <div class="patternz__graphic">
              <img
                src="img/monitor-3.svg"
                alt="IslandHouse monitor biznes"
                class="patternz__img"
              />
            </div>
          </div>
          <div class="prototype">
            <h3 class="heading-tertiary">Prototyp w 30 dni</h3>
            <p class="prototype__text">
              Jesteśmy młodym zespołem osób pasjonujących się designem i
              tworzeniem stron internetowych. Tworzymy je używając HTML5, CSS3 i
              JavaScript.
            </p>
            <div class="prototype__boxes">
              <div class="prototype__box">
                <img src="img/prototype-1.svg" alt="" srcset="" />
                <p>Zaczynamy w 3 dni</p>
              </div>
              <div class="prototype__box">
                <img src="img/prototype-2.svg" alt="" srcset="" />
                <p>Tydzień zarys</p>
              </div>
              <div class="prototype__box">
                <img src="img/prototype-3.svg" alt="" srcset="" />
                <p>W 30 dni gotowe</p>
              </div>
            </div>
            <div class="prototype__graphic">
              <img
                src="img/machine.svg"
                alt="IslandHouse machine"
                class="prototype__img"
              />
            </div>
            <a href="#kontakt" class="btn-cta">Stwórzmy stronę</a>
          </div>
        </div>
      </section>
      <section class="section-review" id="review">
        <div class="review">
          <div class="review__items">
            <div class="review__item">
              <div class="review__item-stars">
                <img src="img/star.svg">
                <img src="img/star.svg">
                <img src="img/star.svg">
              </div>
              <img src="img/featured-1.svg" class="review__item-logo">
              <p class="review__item-desc">Young team with great potential. Nice approach to client.</p>
              <img src="img/icon_sample.svg" class="review__item-islandhouse">
            </div>
            <div class="review__item">
              <div class="review__item-stars">
                <img src="img/star.svg">
                <img src="img/star.svg">
                <img src="img/star.svg">
              </div>
              <img src="img/featured-2.svg" class="review__item-logo">
              <p class="review__item-desc">Good boys. Nice work. It was a pleasure working with this team.</p>
              <img src="img/icon_sample.svg" class="review__item-islandhouse">
            </div>
            <div class="review__item">
              <div class="review__item-stars">
                <img src="img/star.svg">
                <img src="img/star.svg">
                <img src="img/star.svg">
              </div>
              <img src="img/featured-3.svg" class="review__item-logo">
              <p class="review__item-desc">Fast and clear. Design with top trends and psychological tricks.</p>
              <img src="img/icon_sample.svg" class="review__item-islandhouse">
            </div>
          </div>
        </div>
      </section>
      <section class="section-portfolio" id="portfolio">
        <div class="container">
          <h2 class="heading-secondary">Portfolio</h2>
          <div class="portfolio">
            <div class="portfolio__items">
              <div class="portfolio__item" content="TORUN Technologies">
                <img src="img/portfolio-1.png" alt="" srcset="">
              </div>
              <div class="portfolio__item" content="TORUN Technologies Panel">
                <img src="img/portfolio-2.png" alt="" srcset="">
              </div>
              <div class="portfolio__item" content=" Cuprum Toruń">
                <img src="img/portfolio-3.png" alt="" srcset="">
              </div>
              <div class="portfolio__item" content="E-dziennik EducationX">
                <img src="img/portfolio-4.png" alt="" srcset="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-onas" id="onas">
        <div class="container">
          <h2 class="heading-secondary">FAQ</h2>
          <h3 class="heading-tertiary">Najczęstsze pytania</h3>
          <details open>
            <summary>
              Pytanie numer 1
              <i class="icon uil uil-angle-down control-icon control-icon-expand" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></i>
              <i class="icon uil uil-angle-up control-icon control-icon-close" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></i>
            </summary>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet possimus optio debitis quo. Exercitationem, perspiciatis!</p>
          </details>

          <details>
            <summary>
              Pytanie numer 2
              <i class="icon uil uil-angle-down control-icon control-icon-expand" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></i>
              <i class="icon uil uil-angle-up control-icon control-icon-close" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></i>
            </summary>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, assumenda!</p>
          </details>

          <details>
            <summary>
              Pytanie numer 3
              <i class="icon uil uil-angle-down control-icon control-icon-expand" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></i>
              <i class="icon uil uil-angle-up control-icon control-icon-close" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></i>
            </summary>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor repellat rerum consectetur nulla aperiam inventore commodi dolore quia est. Esse.</p>
          </details>
        </div>
      </section>
      <section class="section-contact" id="kontakt">
        <div class="container">
          <div class="contact">
            <div class="contact__main">
              <h3 class="heading-tertiary">Skontaktuj się z nami</h3>
              <p class="prototype__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit saepe labore quia dicta quo id hic necessitatibus ipsa, assumenda reiciendis.
              </p>
              <div class="btn-cta__div" id="show_contact_btn">Zamów stronę</div>
            </div>
            <div class="contact__card" style="display: none;">
              <ul>
                <li>
                  <i class="icon uil uil-clipboard-notes"></i>
                  <div class="progress one active">
                      <p>1</p>
                      <i class="uil uil-check"></i>
                  </div>
                  <p class="text">O Tobie</p>
                </li>
                <li>
                  <i class="icon uil uil-dropbox"></i>
                  <div class="progress two">
                      <p>2</p>
                      <i class="uil uil-check"></i>
                  </div>
                  <p class="text">Typ zamówienia</p>
                </li>
                <li>
                  <i class="icon uil uil-credit-card"></i>
                  <div class="progress three">
                      <p>3</p>
                      <i class="uil uil-check"></i>
                  </div>
                  <p class="text">Budżet</p>
                </li>
                <li>
                  <i class="icon uil uil-envelope-minus"></i>
                  <div class="progress four">
                      <p>4</p>
                      <i class="uil uil-check"></i>
                  </div>
                  <p class="text">Kontakt</p>
                </li>
              </ul>

              <div class="contact__card-steps">
                <div class="contact__card-step name-review">
                  <div class="contact__card-step__item">
                    <h4 class="heading-quaternary">Przedstaw się</h4>
                    <div class="patternz__block">&nbsp;</div>
                    <p class="patternz__text">
                      The internet plays a big role in marketing. We help reach full
                      potential of your company
                    </p>
                  </div>
                  <div class="contact__card-step__item">
                    <div class="input">
                      <i class="icon uil uil-user-check"></i>
                      <input type="text" name="name" id="name">
                    </div>
                    <div class="input">
                      <i class="icon uil uil-envelope-alt"></i>
                      <input type="email" name="email" id="email">
                    </div>
                    <div class="input">
                      <i class="icon uil uil-phone-alt"></i>
                      <input type="tel" name="number" id="number" autocomplete="tel">
                    </div>
                  </div>
                </div>
  
                <div class="contact__card-step needs" style="display: none;">
                  <div class="contact__card-step__item">
                    <h4 class="heading-quaternary">Czego potrzebujesz?</h4>
                    <div class="patternz__block">&nbsp;</div>
                    <p class="patternz__text">
                      The internet plays a big role in marketing. We help reach full
                      potential of your company
                    </p>
                  </div>
                  <div class="contact__card-step__item">
                    <div class="contact__card-step__item--cards">
                      <div class="contact__card-step__item--cards-card needs-item">
                        <i class="icon uil uil-window"></i>
                        <p>Strona internetowa</p>
                      </div>
                      <div class="contact__card-step__item--cards-card needs-item">
                        <i class="icon uil uil-briefcase"></i>
                        <p>Sklep <br>e-commerce</p>
                      </div>
                      <div class="contact__card-step__item--cards-card needs-item">
                        <i class="icon uil uil-android-alt"></i>
                        <p>Aplikacja</p>
                      </div>
                      <div class="contact__card-step__item--cards-card needs-item">
                        <i class="icon uil uil-comment-alt-edit"></i>
                        <p>Inne</p>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="contact__card-step price" style="display: none;">
                  <div class="contact__card-step__item">
                    <h4 class="heading-quaternary">Twój budżet</h4>
                    <div class="patternz__block">&nbsp;</div>
                    <p class="patternz__text">
                      The internet plays a big role in marketing. We help reach full
                      potential of your company
                    </p>
                  </div>
                  <div class="contact__card-step__item">
                    <div class="contact__card-step__item--cards">
                      <div class="contact__card-step__item--cards-card price-item">
                        <i class="icon uil uil-dollar-alt"></i>
                        <p>1000 - 5000 (PLN)</p>
                      </div>
                      <div class="contact__card-step__item--cards-card price-item">
                        <i class="icon uil uil-dollar-alt"></i>
                        <p>5000 - 10000 (PLN)</p>
                      </div>
                      <div class="contact__card-step__item--cards-card price-item">
                        <i class="icon uil uil-dollar-alt"></i>
                        <p>10000 - 15000 (PLN)</p>
                      </div>
                      <div class="contact__card-step__item--cards-card price-item">
                        <i class="icon uil uil-comment-alt-edit"></i>
                        <p>Inne</p>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="contact__card-step contacts" style="display: none;">
                  <div class="contact__card-step__item">
                    <h4 class="heading-quaternary">Platforma kontaktowa</h4>
                    <div class="patternz__block">&nbsp;</div>
                    <p class="patternz__text">
                      The internet plays a big role in marketing. We help reach full
                      potential of your company
                    </p>
                  </div>
                  <div class="contact__card-step__item">
                    <div class="contact__card-step__item--cards">
                      <div class="contact__card-step__item--cards-card contacts-item">
                        <i class="icon uil uil-instagram-alt"></i>
                        <p>Instagram</p>
                      </div>
                      <div class="contact__card-step__item--cards-card contacts-item">
                        <i class="icon uil uil-envelope"></i>
                        <p>Mail</p>
                      </div>
                      <div class="contact__card-step__item--cards-card contacts-item">
                        <i class="icon uil uil-facebook-messenger"></i>
                        <p>Facebook</p>
                      </div>
                      <div class="contact__card-step__item--cards-card contacts-item">
                        <i class="icon uil uil-comment-alt-edit"></i>
                        <p>Inne</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="contact__card-step-done" style="display: none;">
                  <div id="confetti-body" class="confetti-body"></div>
                  <lottie-player  id="lottie-player" src="https://assets10.lottiefiles.com/private_files/lf30_yo2zavgg.json" style="width: 234px;" background="transparent" speed="1"></lottie-player>
                  <h3 class="heading-tertiary">Wysłano pomyślnie</h3>
                  <p class="prototype__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit saepe labore quia dicta quo id hic necessitatibus ipsa, assumenda reiciendis.
                  </p>
                </div>
              </div>
              <div class="contact__bottom-btns">
                <div class="btn-cta__div outline" id="back" style="display: none;">Wróć</div>
                <div class="btn-cta__div" id="next">Dalej</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-footer">
        <div class="container">
          <div class="footer">
            <img src="img/footer.svg">
            <div class="footer__text">
              <a href="#">Polityka prywatności</a><div class="dot">·</div>
              <p><strong>© 2022 IslandHouse </strong>- All rights reserved</p><div class="dot">·</div>
              <p>Made with ❤️ by <a href="#">Kamil Marczak</a> & <a href="#">Marcin Kołpacki</a></p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <img src="img/bg-path.svg" class="bg__path left">
    <img src="img/bg-path.svg" class="bg__path right">
    <img src="img/bg-path.svg" class="bg__path left">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/confetti.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
