<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IslandHouse | Strony | Sklepy | Aplikacje</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <header class="header">
      <a href="#"
        ><img class="header__logo" src="img/logo.svg" alt="Logo IslandHouse"
      /></a>
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="#onas" class="nav__link">O nas</a></li>
          <li><a href="#portfolio" class="nav__link">Portfolio</a></li>
          <li><a href="#kontakt" class="nav__link">Kontakt</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="section-hero">
        <h1 class="heading-primary">
          <span class="heading-primary__span">Stwórzmy razem</span
          ><span class="heading-primary__span">Twoją stronę</span>
        </h1>
        <p class="hero-description">&#8212; Nowoczesny design &#8212;</p>
        <a href="#kontakt" class="btn-cta">Stwórzmy stronę</a>
        <div class="bubble bubble__left">
          <img src="img/bubble.svg" alt="Bubble image" />
          <img src="img/bubble.svg" alt="Bubble image" />
          <img src="img/bubble.svg" alt="Bubble image" />
        </div>
        <div class="bubble bubble__right">
          <img src="img/bubble.svg" alt="Bubble image" />
          <img src="img/bubble.svg" alt="Bubble image" />
          <img src="img/bubble.svg" alt="Bubble image" />
        </div>
      </section>
      <section class="section-featured">
        <div class="featured">
          <img
            src="img/featured-1.svg"
            alt="Logo TORUN Technologies"
            class="featured__img"
          />
          <img
            src="img/featured-2.svg"
            alt="Logo ExileRP"
            class="featured__img"
          />
          <img
            src="img/featured-3.svg"
            alt="Logo Cuprum"
            class="featured__img"
          />
        </div>
      </section>
      <section class="section-onas" id="onas">
        <div class="container">
          <h2 class="heading-secondary">O nas</h2>
          <div class="onas">
            <div class="onas__left">
              <p class="onas__text">Słuchamy</p>
              <p class="onas__text">Tworzymy</p>
              <p class="onas__text">Planujemy</p>
              <p class="onas__text">Inspirujemy</p>
              <p class="onas__text onas__text--big">Realizujemy</p>
            </div>
            <div class="onas__right">
              <img
                src="img/nurek.svg"
                alt="Nurek programista IslandHouse"
                class="onas__img"
              />
            </div>
          </div>
          <div class="offer">
            <div class="offer__box"></div>
            <div class="offer__box"></div>
            <div class="offer__box"></div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
