<!DOCTYPE html>
<html lang="pl">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>IslandHouse | Register</title>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="icon" href="img/favicon.png" />
        <link rel="stylesheet" href="css/main.css" />
   </head>
   <body>
      <div class="login">
         <div class="login__container">
             <div class="login__container-item">
                 <img src="img/login.svg" alt="" srcset="">
             </div>
             <div class="login__container-item">
                  <form action="/register" method="POST">
                     <h3 class="heading-tertiary">Zarejestruj się</h3>
                     <div class="input">
                        <i class="icon uil uil-user-check"></i>
                        <input type="text" name="name" placeholder="Nazwa użytkownika"/>
                     </div>
                     <div class="input">
                        <i class="icon uil uil-envelope-edit"></i>
                        <input type="text" name="email" placeholder="Twój email"/>
                     </div>
                     <div class="input">
                        <i class="icon uil uil-padlock"></i>
                        <input type="password" name="password" placeholder="Twoje hasło"/>
                     </div>
                     <button class="btn-cta__div" type="submit">Zarejestruj się</button>
                  </form>
             </div>
         </div>
      </div>
   </body>
</html>